<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container connect-container">
        <div class="card" style="margin-top: 50px">
            <div class="card-content white-text">
                <span class="card-title">404</span>
                <div class="row">
                    <div class="col s1">
                        <i class="material-icons large redtext">error_outline</i>
                    </div>
                    <div class="col s11" style="padding: 15px 0px">
                        <p>로그인을 하셔야 볼 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <a href="/" id="close">메인화면으로 이동</a>
            </div>
        </div>
    </div>
    <style>
    .tb_button {
        padding:1px;cursor:pointer;
        border-right: 1px solid #8b8b8b;
        border-left: 1px solid #FFF;
        border-bottom: 1px solid #fff;
    }
    .tb_button.hover {
        borer:2px outset #def;
        background-color: #f8f8f8 !important;
    }
    .ws_toolbar {
        z-index:100000
    }
    .ws_toolbar .ws_tb_btn {
        cursor:pointer;border:1px solid #555;padding:3px
    }
    .tb_highlight{
        background-color:yellow
    }
    .tb_hide {
        visibility:hidden
    }
    .ws_toolbar img {
        padding:2px;
        margin:0px
    }
</style>
</body>
</html>