<div class="footer-container">
    <div class="wrapper">
      <div class="content">
        <div class="directory">
          <ul>
            <li class="main">Find a store</li>
            <li class="main">Sign up for email</li>
            <li class="main">Become a member</li>
            <li class="main">Feedback</li>
          </ul>
          <ul>
            <li class="main">Get Help</li>
            <li>Order Status</li>
            <li>Shipping and Delivery</li>
            <li>Returns</li>
            <li>Payment Options</li>
            <li>Contact Us</li>
          </ul>
          <ul>
            <li class="main">About Nike</li>
            <li>News</li>
            <li>Careers</li>
            <li>Investors</li>
            <li>Sustainability</li>
          </ul>
        </div>
        <div class="socials">
          <img src="/img/tw-icon.svg" alt="twitter" />
          <img src="/img/fb-icon.svg" alt="facebook" />
          <img src="/img/yt-icon.svg" alt="youtube" />
          <img src="/img/ig-icon.svg" alt="instagram" />
        </div>
      </div>
      <div class="legal">
        <div class="credits">
          <span>
            Clone by <a href="https://www.github.com/kareemelgendy">Kareem</a>
          </span>
        </div>
        <div class="otherLinks">
          <span>Guides</span>
          <span>Terms of Use</span>
          <span>Terms of Sale</span>
          <span>Company Details</span>
          <span>Privacy &amp; Cookie Policy</span>
          <span>Cookie Settings</span>
        </div>
      </div>
    </div>
  </div>